body {
    background-color: #f8f8f8;
}

#backButton {
    margin-top: -5px;
}

#canvasWrapper{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
#canvasWrapper:before{
    content: "";
    display: block;
    padding-top: 75%;
}

#canvasWrapper div {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#gameCanvas {
    height: 100%;
    width: 100%;
}

button.applyTheme {
    display: block;
    margin-bottom: 5px;
    width: 100%;
}

#optionWrapper h3 {
    margin-top: 25px;
}

#optionWrapper h3:first-child {
    margin-top: 0;
}

#optionWrapper .input-group {
    width: 100%;
    margin-bottom: 5px;
}

#optionWrapper .input-group input {
    background-color: white;
}

#optionWrapper .input-group .input-group-addon {
    width: 100px;
}